<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <!-- <div class="alert alert-danger" *ngIf="isError">{{errorMessage}}</div> -->
        <app-alert [message]="isError" *ngIf="isError" (close)="onHandleError()"></app-alert>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-spinner></app-spinner>
        </div>
        <form (ngSubmit)="onSubmit(authForm)" #authForm='ngForm' *ngIf="!isLoading">
            <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required
                    minlength="6">
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary me-3" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ?
                        'Login' : 'Sign Up' }}</button>
                    <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ?
                        'Sign Up' : 'Login'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>